<app-navbar></app-navbar>
<!doctype html>
<html lang="en">

<head>
    <title>Kontaktirajte nas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Uvek smo zeljni da cujemo Vase misljenje, zelje i preferencije</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="wrapper">
                        <div class="row mb-5">

                        </div>
                        <div class="row no-gutters">
                            <div class="col-md-7">
                                <div class="contact-wrap w-100 p-md-5 p-4">
                                    <h3 class="mb-4">Ostavite Vasu recenziju...</h3>
                                    <div id="form-message-warning" class="mb-4"></div>
                                    <div id="form-message-success" class="mb-4">
                                    </div>
                                    <form method="POST" id="contactForm" name="contactForm" class="contactForm" #registerForm="ngForm" (ngSubmit)="register(registerForm)">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="label" for="textRecenzije">Vasa recenzija</label>
                                                    <textarea type="text" #textRecenzije (ngModel)="textRecenzije" name="textRecenzije" id="textRecenzije" placeholder="Vasa recenzija" class="form-control"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="label" for="markRecenzije">Vasa ocena</label>
                                                    <input type="number" #markRecenzije (ngModel)="markRecenzije" name="markRecenzije" id="markRecenzije" placeholder="Vasa ocena" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="submit" value="Posaljite recenziju" class="btn" style="background-color: #6675df; color: white;">
                                                    <div class="submitting"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-5 d-flex align-items-stretch">
                                <div class="info-wrap w-100 p-5 img" style="background-image: url(assets/img/image.jpg);">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>